:root{
    --ancho_contenido_min:75vw;
    --background-color: gray;
    --ancho_imagen_min:15rem;
    --ancho_imagen_max:18rem;
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* header 1 */
.color_time{
    width: 100%;
    height: 2rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.color_time div:nth-child(1){
    background-color: #74777B;
}

.color_time div:nth-child(2){
    background-color: #474442;
}

.color_time div:nth-child(3){
    background-color: #000000;
    font-size: small;
    text-align: center;
    align-items: center;
}

/* nav */

.nav ul{
    width: 90vw;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.nav ul  li > a{
    color: #232323;
    text-decoration: none;
}

.nav ul  li > a:hover{
    color: gray;
    font-size: large;
    text-decoration: underline;
}

/* banner */

.banner{
    margin: 0;
}

.banner img{
    width: 100%;
}

/* links */

.content{
    width: var(--ancho_contenido_min);
    margin: auto;
}

/*  */
.title_links_page{
    width: 30vw;
    font-size: x-large;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.title_links_page ul{
    width: 15vw;
    list-style: none;
    padding-left: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
    justify-content: flex-start;
    align-items: center;
}

.title_links_page p{
    margin: 0.2rem;
    padding-left: 0.5rem;
}

/*  */
.productos_huari{
    width: var(--ancho_contenido_min);
    margin: auto;
}
.productos_huari figure{
    width: 50vw;
    margin: auto;
}

.productos_huari p{
    font-size: large;
}

/*  */

.youtube{
    width: var(--ancho_contenido_min);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #707070;
}

.youtube div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube div img{
    width: var(--ancho_imagen_max)
}

/*other products*/
.other-products{
    width: var(--ancho_contenido_min);
    margin: auto;
}

.other-products > div{
    display: flex;
    justify-content: space-between;
   
}

.other-products > div div:hover{
    opacity: 0.8;
}

.other-products p{
    position: relative;
    top: -3.5rem;
    right: -1rem;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
}

.other-products h3{
    text-align: center;
    font-size: x-large;
    color: black;
}

.other-products img{
    width: 18.5rem;
}

/*social media*/
.social-media{
    width: var(--ancho_contenido_min);
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.social-media i{
    border-right: 2px solid black;
    padding-right: 0.2rem;
    margin: auto 0.5rem;
}

.social-media button{
    font-size: large;
    margin-right: 1rem;
    height: 2rem;
    border-radius: 0.5rem;
}

.social-media button:hover{
    background: linear-gradient(to right, #8bc7f1, #49cf83);
    color: white;
    transform: scale(1.1);
}

/*footer*/

footer{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "header header1 header2 header3 . logo"
    "footer footer footer . . logo";
}

footer .hFooter{
    grid-area: header;
}

footer .fFooter{
    grid-area: footer;
}