<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huari| Cerveza Boliviana</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <header>
        <div class="color_time">
            <div></div>
            <div></div>
            <div>Zone time</div>
        </div>

        <nav class="nav">
            <ul>
                <li>
                    <figure>
                        <img src="/static/images/logo.png" alt="Logo de cerveceria boliviana">
                    </figure>
                </li>
                <li><a href="">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Nuestras Marcas</a></li>
                <li><a href="">Responsabilidad Social</a></li>
                <li><a href="">Trabaja en CBN</a></li>
                <li><a href="">Proveedores</a></li>
                <li><a href="">Accionistas</a></li>
                <li><a href="">Noticias</a></li>
                <li><a href="">Contactenos</a></li>
            </ul>            
        </nav>
    </header>
    <section>
        <figure class="banner">
            <img src="/static/images/huari_2.jpg" alt="Imagen promocional de huari">
        </figure>
    </section>
    
    <main>
        <section class="content">
            <div class="title_links_page">
                <ul>
                    <li><h1 style="margin: 0;">Huari</h1></li>
                    <li><a href="#" target="_blanck"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#" target="_blanck"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#" target="_blanck"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
                <p>Huari es la cerveza Premium de Bolivia.</p>
            </div>
        </section>

        <section class="productos_huari">
            <figure>
                <img src="/static/images/huari2_2.jpg" alt="Productos Huari">
                <figcaption>Nuestros productos</figcaption>
            </figure>

            <p>
                Huari es una cerveza cuyos orígenes se pierden entre historias 
                y leyendas de un mágico lugar en el medio del altiplano boliviano: 
                las Serranías de Azanaque; donde la pureza del agua y la sabiduría 
                de los pioneros alemanes para crear una cerveza de la más selecta calidad 
                y de sabor único para los más exigentes conocedores de cerveza. <br><br> 
                Huari invita a descubrir nuevas sensaciones acompañando las comidas con sus variedades: <br><br> 
                Huari Tradicional: Cerveza de tipo Lager - Pilsener, elaborada con malta seleccionada, 
                lúpulos nobles y agua de las serranías de Azanaque. Es una cerveza de sabor equilibrado 
                y fácil de tomar, con cuerpo y de buena espuma. Tiene una tonalidad dorada brillante, 
                aromas herbáceos y de nivel moderado de amargor que no deja ningún recuerdo en el paladar. <br><br> 
                Huari con Miel: Combina la receta ancestral de Huari Tradicional elaborada con un toque 
                de miel de abeja 100% natural del valle boliviano. Es una cerveza turbia y de sabor 
                dulce con buen cuerpo y espuma equilibrada.
            </p>
        </section>

        <section class="youtube">
            <h2>Visita nuestro canal de Youtube</h2>
            <div>
                <figure>
                    <a href="https://www.youtube.com/playlist?list=PLz1CtuYN4q9Qp2evkpqBqW_DIMBMOkltR" target="_blanck"><img src="/static/images/tastemade.jpg" alt="Huari - Tastemade"></a>
                    <figcaption>Huari - Tastemade</figcaption>
                </figure>
                <figure>
                    <a href="https://www.youtube.com/playlist?list=PLz1CtuYN4q9Shd8MNsrZFrC6fJzy4ye8B" target="_blanck"><img src="/static/images/NATIONAL.jpg" alt="Huari - NatGeo"></a>
                    <figcaption>Huari - NatGeo</figcaption>
                </figure>
                <figure>
                    <a href="https://www.youtube.com/watch?v=LieBVZ6QPPE" target="_blanck"><img src="/static/images/ENCUENTROS2.jpg" alt="Huari Orígenes - Encuentros"></a>
                    <figcaption>Huari Orígenes - Encuentros</figcaption>
                </figure>
            </div>
            
        </section>

        <section class="other-products">
            <h3>Otros productos CBN</h3>
            <div>
                <div>
                    <a href="">
                        <img src="/static/images/c_guarana-antarctica-_27.jpg" alt="Guarana">
                        <p>Guarana antartida</p>
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="/static/images/c_Brahma.jpg" alt="Brahama">
                        <p>Brahama</p>
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="/static/images/c_h2oh_26.png" alt="h2oh">
                        <p>H2O</p>
                    </a>
                </div>
            </div>
            
        </section>

        <section class="social-media">
            <button type="submit"><i class="fa-brands fa-facebook-square"></i>Compartir</button>
            <button type="submit"><i class="fa-brands fa-twitter"></i></i>Compartir</button>
            <button type="submit"><i class="fa-brands fa-instagram"></i>Compartir</button>
        </section>
    </main>

    <footer >
        <span class="hFooter">© 2020 CBN | Todos los derechos reservados </span>
        <span class="hFooter"><a href="#">Terminos y condiciones</a></span>
        <span class="hFooter"><a href="#">Politica y privacidad</a></span>
        <span class="hFooter"><a href="#">Reglas de contenidos</a></span>
        <span class="fFooter">DISFRUTA RESPONSABLEMENTE - NO COMPARTAS ESTE CONTENIDO CON MENORES DE EDAD</span>

    </footer>
</body>
</html>